<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research - Homepage</title>
    <link rel="stylesheet" href="../../bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/gruvbox-dark-hard.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
</head>
<body>
   <ul class="breadcrumbs"><li><a href="../../../index.html">root</a></li>
    <li><a href="../system-index.html">system - bs3</a></li>
      <li><a href="./templates-index.html">templates</a></li>
      <li>Research - Homepage</li>
   </ul>
<pre>
<code class="language-html">
&lt;nav id=&quot;top-navbar&quot; class=&quot;navbar navbar-default navbar-fixed-top&quot; style=&quot;border-bottom: none;&quot;&gt;
   &lt;div class=&quot;container custom-menuitems&quot;&gt;
      &lt;div class=&quot;navbar-header&quot;&gt; &lt;button type=&quot;button&quot; class=&quot;collapsed navbar-toggle&quot; data-toggle=&quot;collapse&quot;
         data-target=&quot;#bs-top-navbar-collapse-6&quot; aria-expanded=&quot;false&quot;&gt; &lt;span class=&quot;sr-only&quot;&gt;Toggle
         navigation&lt;/span&gt; &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;span
            class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;/button&gt; 
         &lt;button id=&quot;sidebar-toggle&quot; style=&quot;display:none&quot; type=&quot;button&quot; class=&quot;collapsed navbar-toggle&quot;&gt; &lt;span class=&quot;sr-only&quot;&gt;Toggle
         navigation&lt;/span&gt; &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;span
            class=&quot;icon-bar&quot;&gt;&lt;/span&gt; &lt;/button&gt; 
         &lt;a href=&quot;https://www.ecu.edu.au/centres/library-services/overview&quot; class=&quot;navbar-brand&quot;&gt;&lt;img
            src=&quot;https://www.ecu.edu.au/__data/assets/image/0014/1100390/ecu-logo-alternate.png&quot;
            class=&quot;ecu-logo&quot; style=&quot;border:none;&quot;&gt;&lt;/a&gt; 
      &lt;/div&gt;
      &lt;div style=&quot;flex-grow: 1&quot; class=&quot;collapse navbar-collapse&quot; id=&quot;bs-top-navbar-collapse-6&quot;&gt;
         &lt;div class=&quot;nav-row&quot;&gt;
            &lt;div class=&quot;nav-logotext&quot;&gt;
               &lt;h2 style=&quot;font-size: 30px;&quot;&gt;Research&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class=&quot;right-navbar&quot;&gt;
               &lt;ul style=&quot;border-bottom: 2px #dcdcdc solid&quot; class=&quot;nav navbar-nav&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;http://ecu.au.libguides.com/&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;dropdown&quot;&gt;
                     &lt;a href=&quot;https://ecu.au.libguides.com/?b=p&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot;
                        aria-expanded=&quot;true&quot;&gt;Subjects &lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;&lt;/a&gt;
                     &lt;ul class=&quot;dropdown-menu&quot; aria-labelledby=&quot;dropdownMenu1&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Arts-Humanities&quot;&gt;Arts and Humanities&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Business-Law&quot;&gt;Business and Law&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Education-guides&quot;&gt;Education&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Engineering&quot;&gt;Engineering&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Health-Medical-Sciences&quot;&gt;Medical and Health Sciences&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/nursing-midwifery&quot;&gt;Nursing and Midwifery&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/Science&quot;&gt;Science&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/WAAPA&quot;&gt;WAAPA&lt;/a&gt;&lt;/li&gt;
                     &lt;/ul&gt;
                  &lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/referencing&quot;&gt;Referencing&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/study-essentials/home&quot;&gt;Study Essentials&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;dropdown&quot;&gt;
                     &lt;a href=&quot;https://ecu.au.libguides.com/?b=p&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot;
                        aria-expanded=&quot;true&quot;&gt;Research Resources &lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;&lt;/a&gt; 
                     &lt;ul class=&quot;dropdown-menu&quot; aria-labelledby=&quot;dropdownMenu2&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/harc&quot;&gt;A Research Companion&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;https://ecu.au.libguides.com/document-delivery&quot;&gt;Document Delivery&lt;/a&gt;&lt;/li&gt;
                     &lt;/ul&gt;
                  &lt;/li&gt;
               &lt;/ul&gt;
            &lt;/div&gt;
         &lt;/div&gt;
         &lt;div class=&quot;nav-row lower-navigation&quot;&gt;
            &lt;div style=&quot;flex-grow: 1&quot;&gt;
               &lt;ul class=&quot;nav navbar-nav full-arrow&quot;&gt;
                  &lt;!--  --&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/scholarly_communication_navigating_research&quot;
                        aria-label=&quot;Navigate Research&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Navigate Research&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/scholarly_communication_mrd/&quot;
                        aria-label=&quot;Manage Research Data&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Manage Research Data&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/publish&quot;
                        aria-label=&quot;Publish&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Publish&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/promote&quot;
                        aria-label=&quot;Promote&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Promote&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/scholarly_communication_theses&quot;
                        aria-label=&quot;Theses&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Theses&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/AI_in_research&quot;
                        aria-label=&quot;AI in Research&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; AI in Research&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                     &lt;a title=&quot;&quot;
                        href=&quot;https://ecu.au.libguides.com/scholarly_communication_navigating_research/workshops&quot;
                        aria-label=&quot;Workshops&quot;&gt;
                     &lt;span&gt;&lt;span class=&quot;glyphicon glyphicon-file&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Workshops&lt;/span&gt;
                     &lt;/a&gt;
                  &lt;/li&gt;
               &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;nav-email&quot;&gt;
               &lt;span style=&quot;font-size: 1.5em; line-height: 46px; text-align: center;&quot;
                  class=&quot;glyphicon glyphicon-envelope&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
               &lt;span style=&quot;font-size: 1.5em; line-height: 46px; text-align: center;&quot;&gt;Library@ecu.edu.au&lt;/span&gt;
            &lt;/div&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/nav&gt;
&lt;div class=&quot;nav-separator&quot;&gt;&lt;/div&gt;
&lt;body class=&quot;s-lg-guide-body&quot;&gt;
   
   
   &lt;!-- BEGIN: Page Header --&gt;
   &lt;!-- END: Page Header --&gt;
   &lt;!-- BEGIN: Guide Info Header --&gt;
   &lt;div id=&quot;s-lg-guide-header&quot; class=&quot;container s-lib-header s-lib-side-borders&quot;&gt;
      &lt;nav id=&quot;s-lib-bc&quot; aria-label=&quot;breadcrumb&quot; role=&quot;navigation&quot;&gt;
         
      &lt;/nav&gt;
      &lt;div class=&quot;pull-right&quot;&gt;
         &lt;div id=&quot;s-lg-guide-header-search&quot;&gt;
                    
         &lt;/div&gt;
         
      &lt;/div&gt;
      &lt;div id=&quot;s-lg-guide-header-info&quot;&gt;
         &lt;h1 id=&quot;s-lg-guide-name&quot;&gt;: &lt;/h1&gt;
         &lt;div id=&quot;s-lg-guide-desc-container&quot;&gt;
            &lt;span id=&quot;s-lg-guide-description&quot;&gt;&lt;/span&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;!-- END: Guide Info Header --&gt;
   &lt;div id=&quot;s-lg-tabs-container&quot; class=&quot;container s-lib-side-borders pad-top-med&quot;&gt;
      &lt;div id=&quot;s-lg-guide-tabs&quot; class=&quot;tabs&quot; role=&quot;navigation&quot; aria-label=&quot;Guide Pages&quot;&gt;
         &lt;ul class=&quot;nav nav-tabs split-button-nav&quot;&gt;
            
         &lt;/ul&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;div id=&quot;s-lg-guide-tabs-title-bar&quot; class=&quot;container s-lib-side-borders&quot;&gt;&lt;/div&gt;
   &lt;!-- BEGIN: Guide Content --&gt;
   &lt;div id=&quot;s-lg-guide-main&quot; class=&quot;container s-lib-main s-lib-side-borders&quot; tabindex=&quot;-1&quot;&gt;
      
      
      
   &lt;/div&gt;
   &lt;!-- END: Guide Content --&gt;
   &lt;!-- BEGIN: Page Footer --&gt;
   &lt;div class=&quot;row ecu-footer&quot;&gt;
      &lt;!-- BEGIN: Custom Footer --&gt;
      
      &lt;!-- END: Custom Footer --&gt;
      &lt;div class=&quot;ecu-secondfooter&quot;&gt;
         &lt;div id=&quot;s-lib-footer-public&quot; class=&quot;s-lib-footer footer container  s-lib-side-borders&quot;&gt;
            &lt;div id=&quot;s-lg-guide-header-meta&quot; class=&quot;pad-top-sm pad-left-med clearfix&quot;&gt;
               &lt;ul id=&quot;s-lg-guide-header-attributes&quot; class=&quot;&quot;&gt;
                  &lt;li id=&quot;s-lg-guide-header-updated&quot; class=&quot;s-lg-h-separator&quot;&gt;
                      
                  &lt;/li&gt;
                  &lt;li id=&quot;s-lg-guide-header-url&quot; class=&quot;s-lg-h-separator&quot;&gt;
                     
                  &lt;/li&gt;
                  &lt;li id=&quot;s-lg-guide-print-url&quot;&gt;
                     
                  &lt;/li&gt;
               &lt;/ul&gt;
               &lt;div id=&quot;s-lib-footer-login-link&quot; class=&quot;pull-right pad-right-med&quot;&gt;
                   
               &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;pad-bottom-sm clearfix&quot;&gt;
               &lt;div id=&quot;s-lib-footer-support-link&quot; class=&quot;pull-right pad-right-med&quot;&gt;
                   
               &lt;/div&gt;
               &lt;div id=&quot;s-lg-guide-header-subjects&quot; class=&quot;pad-top-sm pad-left-med pad-right-med pull-left&quot;&gt;
                  
               &lt;/div&gt;
               &lt;div id=&quot;s-lg-guide-header-tags&quot; class=&quot;pad-top-sm pad-left-med&quot;&gt;
                  
               &lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;
         &lt;!-- END: Page Footer --&gt;
         &lt;div id=&quot;s-lib-scroll-top&quot;&gt;
            &lt;a href=&quot;javascript:void(0);&quot; onclick=&quot;jQuery(&#39;html, body&#39;).animate({scrollTop: 0}, 750);&quot;
               title=&quot;Back to Top&quot; aria-label=&quot;Back to Top&quot;&gt;
            &lt;span class=&quot;fa-stack fa-lg&quot;&gt;
            &lt;i class=&quot;fa fa-square-o fa-stack-2x&quot;&gt;&lt;/i&gt;
            &lt;i class=&quot;fa fa-angle-double-up fa-stack-1x&quot; style=&quot;position:relative; bottom:2px;&quot;&gt;&lt;/i&gt;
            &lt;/span&gt;
            &lt;/a&gt;
         &lt;/div&gt;
         &lt;div id=&quot;s-lib-alert&quot; title=&quot;&quot;&gt;
            &lt;div id=&quot;s-lib-alert-content&quot;&gt;&lt;/div&gt;
         &lt;/div&gt;
         &lt;div class=&quot;container&quot;&gt;
            &lt;p class=&quot;text-center&quot;&gt;&lt;i&gt;Edith Cowan University acknowledges and respects the Nyoongar people, who are
               the traditional custodians of the land upon which its campuses stand and its programs
               operate.&lt;br&gt;In particular ECU pays its respects to the Elders, past and present, of the Nyoongar
               people, and embrace their culture, wisdom and knowledge.&lt;/i&gt;
            &lt;/p&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;!-- END: Custom Footer --&gt;
&lt;/body&gt;
&lt;style&gt;
   @media (max-width:992px) {
   .lower-navigation li {
   padding-left: 0px !important;
   }
   }
   .s-lib-main{
   outline: none;
   }
   #s-lg-tabs-container {
   display: none;
   }
   /* HEADING - START */
   .heading--container {
   display: flex;
   flex-direction: column;
   align-items: center;
   }
   .heading--container &gt; h1 {
   position: relative;
   margin-bottom: 30px;
   font-weight: 600;
   text-align: center;
   }
   /* .heading--container &gt; h1::before {
   content: &quot;&quot;;
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
   width: 50px;
   height: 4px;
   border-radius: 15px;
   background-color: #fec458;
   } */
   .heading--container &gt; p {
   font-size: 15px;
   text-align: center;
   }
   /* HEADING- END */
   /* ICONS - START */
   .icons--container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   }
   .icons--column {
   display: flex;
   justify-content: center;
   }
   .icon--div {
   width: 250px;
   min-height: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   }
   .icon-img--div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40%;
   height: 90px;
   /*border-radius: 60px;
   padding: 19px;
   background: #f7f4f4;*/
   }
   .icon-img--div img {
   width: 70px;
   transition: transform .5s;
   }
   .icons--column .inverted {
   background-color: #ca450c; 
   color: white;
   border-radius: 5px;
   }
   .icons--column.inverted ul {
   }
   .icon-title--div {
   height: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 0 10px;
   }
   .icon--div h2 {
   text-align: center;
   transition: .2s;
   font-size: 20px;
   font-weight: 900;
   }
   .icon--div:hover .icon-img--div img {
   transform: scale(1.25); 
   }
   .icon--div:hover h2 {
   /*color: #f55009;*/
   }
   .icon--div &gt; ul {
   font-size: 14px;
   }
   /* ICONS - END */
   .top-banner {
   height: 200px;
   background-image: url(&#39;https://libapps-au.s3-ap-southeast-2.amazonaws.com/customers/3259/images/research-banner.jpg&#39;);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   margin-left: -15px;
   margin-right: -15px;
   }
   #s-lg-guide-header {
   display: none;
   }
   /* BUTTONS - START */
   .buttons--container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   }
   .button--link {
   width: 30%;
   min-width: 285px;
   height: 50px;
   color: white;
   background-color: #3c3c3c;
   text-decoration: none !important;
   outline: none;
   padding: 15px;
   margin-top: 15px;
   text-align: center;
   transition: 0.2s;
   font-size: 14px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   }
   .button--link:hover, .button--link:focus {
   background-color: #ca450c;
   color: white;
   outline: none;
   }
   @media (max-width: 1000px) {
   .button--link{
   display: block;
   width: 100%;
   margin-left: 20px;
   margin-right: 20px;
   }
   }
   /* BUTTONS - END*/
   /* HEADER - START */
   .right-navbar {
   margin-left: auto !important;
   }
   .navbar-default .navbar-nav&gt;.open&gt;a, .navbar-default .navbar-nav&gt;.open&gt;a:focus, .navbar-default .navbar-nav&gt;.open&gt;a:hover, .navbar-default .navbar-nav&gt;.active&gt;a, .navbar-default .navbar-nav&gt;.open&gt;a:hover, .navbar-default .navbar-nav&gt;.active&gt;a:visited {
   color: #dedede;
   background-color: #424242b3;
   }
   .navbar-default .navbar-nav&gt;li&gt;a:visited {
   color: #FFF;
   }
   .nav a {
   font-weight: normal;
   }
   .nav .s-lg-tab-top-link, .nav .s-lg-tab-drop{
   display: inline-block !important;
   }
   .custom-topbar{
   max-width: 1200px;
   }
   .navbar-default .navbar-nav&gt;li&gt;a {
   color: #FFF;
   }
   .navbar-nav&gt;li&gt;a:hover{
   color: #d8d8d8 !important;
   }
   .ecu-logo{
   width: 120px;
   border: 1px #FFF solid;
   }
   .navbar-brand{
   height: auto;
   }
   .navbar{
   min-height: 130px;
   border-bottom: solid #000 2px;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
   background: rgb(33,33,33);
   background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(33,33,33,0.8855917366946778) 50%, rgba(33,33,33,0.804359243697479) 100%);
   }
   .nav-separator{
   height: 130px; /* margin from the top bar */
   background-color: white;
   margin-left: -15px;
   margin-right: -15px;
   }
   @media only screen and (min-width: 768px) {
   .custom-menuitems {
   display: flex;
   align-items: center;
   }
   ul.nav li.dropdown:hover &gt; ul.dropdown-menu {
   display: block;
   }
   .nav-row{
   display:flex; flex-direction: row;
   }
   .right-navbar{
   margin: 0px 17px 0px;
   }
   .right-navbar li a{
   font-size: 12px;
   padding-bottom: 7px
   }
   .nav&gt;li&gt;a:hover, .nav&gt;li&gt;a:focus {
   outline: none;
   }
   .lower-navigation{
   background: #61616173;
   border-radius: 25px;
   }
   @media only screen and (max-width: 1200px)  {
   .lower-navigation{
   margin-left: 0%;
   }
   }
   .lower-navigation li{
   white-space: nowrap;
   /*padding-left: 20px;*/
   }
   .lower-navigation a.active{
   color: #FFF !important;
   background-color: #25252582 !important;
   border-radius: 25px;
   }
   .lower-navigation .dropdown-toggle{
   /*padding-left: 0px !important;
   padding-right: 5px !important;*/
   outline: none !important;
   }
   .lower-navigation .active .dropdown-toggle{
   display: none !important;
   }
   }
   @media only screen and (max-width: 768px)  {
   .lower-navigation a.s-lg-tab-drop.dropdown-toggle{
   display: block !important;
   }
   .lower-navigation .s-lg-tab-top-link.pull-left{
   z-index:100;
   }
   }
   .nav-logotext{
   flex-grow: 1;
   margin-left: 15px;
   color: #FFF;
   }
   @media only screen and (max-width: 1200px)  {
   .nav-logotext{
   display: none !important;
   }
   .nav-email{
   display: none !important;
   }
   .lower-navigation li {
   padding-left: 0px !important;
   }
   }
   .nav-email{
   display: none;
   white-space: nowrap;
   padding-right: 5px;
   }
   .nav li {
   margin-bottom: 0;
   }
   /* HEADER - END */
   /* FOOTER */
   .ecu-footer{
   margin-top: 30px;
   box-shadow: 0 -5px 5px -5px #333;
   /* background: #4d4d4d;*/
   background-image: linear-gradient(35deg,rgba(3,3,3,.49),rgba(3,3,3,.23)),linear-gradient(125deg,rgba(3,3,3,.82),rgba(3,3,3,.12)),url(https://libapps-au.s3-ap-southeast-2.amazonaws.com/customers/3259/images/footer-wood.jpg);
   background-position: 50%;
   background-size: cover;
   color: white;
   padding: 15px 0px 15px;
   }
   .ecu-footer a, .ecu-secondfooter a, .ecu-secondfooter p, #s-lib-footer-public span, #s-lib-footer-public a{
   color: white;
   }
   .ecu-secondfooter{
   color: white;
   padding: 15px 0px 15px;
   }
   .ecu-secondfooter{
   /*background: #444;*/
   }
   #s-lib-footer-public{
   background: transparent;
   }
   .ecu-footer &gt; .container li {
   font-weight: bold;
   font-size: 14px;
   }
   /* FOOTER - END */
   /* RESPONSIVE - START */
   @media screen and (max-width: 768px) {
   .icons--container {
   flex-wrap: nowrap;
   flex-direction: column;
   }
   }
   /* RESPONSIVE - END */
&lt;/style&gt;
&lt;script&gt;
   $( document ).ready(function() {
   
    var addAdminTab =  $(&#39;#s-lg-admin-tab-add&#39;).html();
       if(typeof addAdminTab === &#39;undefined&#39;){
            
      }else{
          // if Admin Edit page
          $(&#39;#top-navbar&#39;).hide();
          $(&#39;.top-banner&#39;).hide();
          $(&#39;.nav-separator&#39;).hide();
          $(&#39;#s-lg-guide-header&#39;).show();
       }
   
    });
   
&lt;/script&gt;
</code>
<button class="copy-button" onclick="copyCode(this)">Copy</button>
<button class="editor-button" onclick="window.open('https://codepen.io/pen/?editors=1100', '_blank');" type="button">Editor</button>
</pre>
<script>hljs.highlightAll();</script>
<script>
   function copyCode(button) {
   const codeElement = button.previousElementSibling;
   const text = codeElement.textContent;
   
   navigator.clipboard.writeText(text).then(() => {
      button.textContent = 'Copied!';
      button.classList.add('copied');
      setTimeout(() => {
         button.textContent = 'Copy';
         button.classList.remove('copied');
      }, 2000);
   }).catch(err => {
      console.error('Failed to copy: ', err);
   });
   }
</script>
</body>
</html>
