<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Essentials - GUIDES (Employability Essentials)</title>
    <link rel="stylesheet" href="../../bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/gruvbox-dark-hard.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
</head>
<body>
   <ul class="breadcrumbs"><li><a href="../../../index.html">root</a></li>
    <li><a href="../system-index.html">system - bs3</a></li>
      <li><a href="./templates-index.html">templates</a></li>
      <li>Study Essentials - GUIDES (Employability Essentials)</li>
   </ul>
<pre>
<code class="language-html">
&lt;body class=&quot;s-lg-guide-body&quot;&gt;
   {{skip_link}}
   {{ADMIN_CMD_BAR}}
   &lt;!-- BEGIN: Page Header --&gt;
   {{public_header}}
   &lt;!-- END: Page Header --&gt;
   &lt;!-- BEGIN: Guide Info Header --&gt;
   &lt;style&gt;
      body{
      background-image: linear-gradient(90deg, rgba(70, 70, 70, 0.65) 0%, rgba(70, 70, 70, 0.65) 100%), url(https://libapps-au.s3-ap-southeast-2.amazonaws.com/customers/3259/images/3students.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      }
   &lt;/style&gt;
   &lt;!-- START: Guide Info Header --&gt;
   &lt;div id=&quot;s-lg-guide-header-info&quot; class=&quot;top-banner&quot;&gt;
      &lt;h1 id=&quot;s-lg-guide-name&quot;&gt;&lt;span id=&quot;header-title-icon&quot; style=&quot;margin-right: 10px&quot; class=&quot;glyphicon glyphicon-home&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; {{guide_title}}: {{page_title}}&lt;/h1&gt;
      &lt;div id=&quot;s-lg-guide-desc-container&quot;&gt;
         &lt;span id=&quot;s-lg-guide-description&quot;&gt; {{guide_description}}&lt;/span&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;!-- END: Guide Info Header --&gt;
   &lt;div id=&quot;s-lg-tabs-container&quot; class=&quot;container s-lib-side-borders pad-top-med&quot;&gt;
      &lt;div id=&quot;s-lg-guide-tabs&quot; class=&quot;tabs&quot; role=&quot;navigation&quot; aria-label=&quot;Guide Page Menu&quot;&gt;
         &lt;ul class=&quot;nav nav-tabs split-button-nav&quot;&gt;
            {{guide_nav}} 
         &lt;/ul&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;div id=&quot;s-lg-guide-tabs-title-bar&quot; class=&quot;container s-lib-side-borders&quot;&gt;&lt;/div&gt;
   &lt;!-- BEGIN: Guide Content --&gt;
   &lt;div id=&quot;s-lg-guide-main&quot; class=&quot;container s-lib-main s-lib-side-borders&quot;&gt;
      {{empty_page_sub_page_list}}
      {{content}}
      {{page_prev_next_links}}
   &lt;/div&gt;
   &lt;!-- END: Guide Content --&gt;
   &lt;!-- BEGIN: Page Footer --&gt;
   &lt;div class=&quot;row ecu-footer&quot;&gt;
      &lt;!-- BEGIN: Custom Footer --&gt;
      {{public_footer}}
      &lt;!-- END: Custom Footer --&gt;
      &lt;div class=&quot;ecu-secondfooter&quot;&gt;
         &lt;div id=&quot;s-lib-footer-public&quot; class=&quot;s-lib-footer footer container  s-lib-side-borders&quot;&gt;
            &lt;div id=&quot;s-lg-guide-header-meta&quot; class=&quot;pad-top-sm pad-left-med clearfix&quot;&gt;
               &lt;ul id=&quot;s-lg-guide-header-attributes&quot; class=&quot;&quot;&gt;
                  &lt;li id=&quot;s-lg-guide-header-updated&quot; class=&quot;s-lg-h-separator&quot;&gt;
                     {{last_updated_display}} 
                  &lt;/li&gt;
                  &lt;li id=&quot;s-lg-guide-header-url&quot; class=&quot;s-lg-h-separator&quot;&gt;
                     {{guide_url_display}}
                  &lt;/li&gt;
                  &lt;li id=&quot;s-lg-guide-print-url&quot;&gt;
                     {{print_url_display}}
                  &lt;/li&gt;
               &lt;/ul&gt;
               &lt;div id=&quot;s-lib-footer-login-link&quot; class=&quot;pull-right pad-right-med&quot;&gt;
                  {{login_url_display}} 
               &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;pad-bottom-sm clearfix&quot;&gt;
               &lt;div id=&quot;s-lib-footer-support-link&quot; class=&quot;pull-right pad-right-med&quot;&gt;
                  {{support_url_display}} 
               &lt;/div&gt;
               &lt;div id=&quot;s-lg-guide-header-subjects&quot; class=&quot;pad-top-sm pad-left-med pad-right-med pull-left&quot;&gt;
                  {{guide_subjects}}
               &lt;/div&gt;
               &lt;div id=&quot;s-lg-guide-header-tags&quot; class=&quot;pad-top-sm pad-left-med&quot;&gt;
                  {{guide_tags}}
               &lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;
         &lt;!-- END: Page Footer --&gt;
         &lt;div id=&quot;s-lib-scroll-top&quot;&gt;
            &lt;a href=&quot;javascript:void(0);&quot; onclick=&quot;jQuery(&#39;html, body&#39;).animate({scrollTop: 0}, 750);&quot;
               title=&quot;Back to Top&quot; aria-label=&quot;Back to Top&quot;&gt;
            &lt;span class=&quot;fa-stack fa-lg&quot;&gt;
            &lt;i class=&quot;fa fa-square-o fa-stack-2x&quot;&gt;&lt;/i&gt;
            &lt;i class=&quot;fa fa-angle-double-up fa-stack-1x&quot; style=&quot;position:relative; bottom:2px;&quot;&gt;&lt;/i&gt;
            &lt;/span&gt;
            &lt;/a&gt;
         &lt;/div&gt;
         &lt;div id=&quot;s-lib-alert&quot; title=&quot;&quot;&gt;
            &lt;div id=&quot;s-lib-alert-content&quot;&gt;&lt;/div&gt;
         &lt;/div&gt;
         &lt;div class=&quot;container&quot;&gt;
            &lt;p class=&quot;text-center&quot;&gt;&lt;i&gt;Edith Cowan University acknowledges and respects the Noongar people, who are
               the traditional custodians of the land upon which its campuses stand and its programs
               operate.&lt;br&gt;In particular ECU pays its respects to the Elders, past and present, of the Noongar
               people, and embrace their culture, wisdom and knowledge.&lt;/i&gt;
            &lt;/p&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/body&gt;
</code>
<button class="copy-button" onclick="copyCode(this)">Copy</button>
<button class="editor-button" onclick="window.open('https://codepen.io/pen/?editors=1100', '_blank');" type="button">Editor</button>
</pre>
<script>hljs.highlightAll();</script>
<script>
   function copyCode(button) {
   const codeElement = button.previousElementSibling;
   const text = codeElement.textContent;
   
   navigator.clipboard.writeText(text).then(() => {
      button.textContent = 'Copied!';
      button.classList.add('copied');
      setTimeout(() => {
         button.textContent = 'Copy';
         button.classList.remove('copied');
      }, 2000);
   }).catch(err => {
      console.error('Failed to copy: ', err);
   });
   }
</script>
</body>
</html>
