<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
    <link rel="stylesheet" href="../../bundle.css">
</head>
<body>
    <ul class="breadcrumbs"><li><a href="../../../index.html">root</a></li>
    <li><a href="../system-index.html">system - bs3</a></li>
        <li>templates</li>
    </ul>
    <ul class="index">
        <li><a href="./research-guides-template-no-search.html">Research - Guides Template no search</a></li>
        <li><a href="./research-homepage.html">Research - Homepage</a></li>
        <li><a href="./scholarly-communication-guide-template-2025.html">Scholarly Communication - Guide_template_2025</a></li>
        <li><a href="./study-essentials-guides-assessment-essentials.html">Study Essentials - GUIDES (Assessment Essentials)</a></li>
        <li><a href="./study-essentials-guides-digital-essentials.html">Study Essentials - GUIDES (Digital Essentials)</a></li>
        <li><a href="./study-essentials-guides-employability-skills.html">Study Essentials - GUIDES (Employability Essentials)</a></li>
        <li><a href="./study-essentials-guides-information-essentials.html">Study Essentials - GUIDES (Information Essentials)</a></li>
        <li><a href="./study-essentials-guides-library-essentials.html">Study Essentials - GUIDES (Library Essentials)</a></li>
        <li><a href="./study-essentials-home.html">Study Essentials - HOME</a></li>
        <li><a href="./subject-guides-template.html">Subject Guides Template</a></li>
    </ul>
</body>
</html>
